.button {
    background-color: var(--orange);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 18px;
}

@media only screen and (max-width: 480px) {
    .button {
        background-color: transparent;
        color: var(--font-grey-dark);
        font-weight: bold;
        padding:0;
    }
}