.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: var(--blue);
}

.input {
    border: 3px solid var(--dark-blue);
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 18px;
    width: 90%;
    margin-right: 8px;
}

.form {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .footer {
        background-color: var(--grey);
    }

    .input {
        border:none;
        margin-right: 16px;
    }
    .form {
        padding: 14px 0;
    }

}